# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Logs
logs
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# Visual Studio / Visual Studio Code
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build / dependency directories
dist/
build/
out/
coverage/

# Env files
.env
.env.local
